@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

p,
a,
span,
li,
ul {
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  max-width: 1440px;
}

.main {
  border: 1px solid red;
}

.main-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.nav-link {
  display: flex;
  padding: 0 20px;
  line-height: 50px;
  transition: 0, 3s;
}
.section {
  display: flex;
  width: 50%;
  border: 1px solid red;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-user {
  display: flex;
  width: 100%;
  border: 1px solid red;
  justify-content: space-around;
  gap: 50px;
}

.section-user-list{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  gap: 10px;
  padding: 0 20px;
  margin: 50px 40px;
}

.section-user-name{
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.footer {
  border: 1px solid red;
  max-width: 1440px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 10px 0;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 30px;
}

.avatar:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
